<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <springProperty scope="context" name="logging.level" source="mylogging.level" defaultValue="INFO"/>
    <springProperty scope="context" name="logging.file.path" source="mylogging.file.path" defaultValue="/tmp"/>
    <springProperty scope="context" name="logging.file.name" source="mylogging.file.name" defaultValue="app.log"/>

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] [%X{traceId}] %-5level %logger{35} - %msg %n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${logging.file.name}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${logging.file.name}-%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="${logging.level}">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
